/*Header*/

#champ_recherche {
    display: flex;
    background-size: 310px;
    height: 200px;
    background-blend-mode: multiply;
    font-family: "Farsan"
}

#background_video {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 145px;
    bottom: 0;
    z-index: -1;
}

#recherche {
    top: 25px;
    background-color: #DDDDDD;
    width: 600px;
    height: 50px;
}

/*Titres de section*/

h2::before {
    content: "____";
}

h2 {
    color: #47B4D1;
    position: absolute;
    font-family: "Gwendolyn";
    font-size: 60px;
}

svg {
    height: 180px;
}

/*Section catégories*/

#categories a {
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.5%;
    height: 600px;
}

#Asiatique {
    background-image: url(../images/category/asian_food_cat.jpg);
    background-position-x: 42%;
    font-size: 30px;
}

#Burger {
    background-image: url(../images/category/burger_cat.jpg);
    background-position-x: 50%;
    font-size: 45px;
}

#Pâtes {
    background-image: url(../images/category/pasta_cat.jpg);
    background-position-x: 55%;
    font-size: 95px;
}

#Pizza {
    background-image: url(../images/category/pizza_cat.jpg);
    font-size: 85px;
}

#Salade {
    background-image: url(../images/category/salade_cat.jpg);
    background-position-x: 55%;
    font-size: 65px;
}

#Sandwich {
    background-image: url(../images/category/sandwich_cat.jpg);
    background-position-x: 55%;
    font-size: 50px;
}

#Veggie {
    background-image: url(../images/category/veggie_cat.jpg);
    background-position-x: 80%;
    object-position: 82%;
    font-size: 75px;
}

#Wrap {
    background-image: url(../images/category/wrap_cat.jpg);
    background-position-x: 15%;
    font-size: 70px;
}

#categories a:hover {
    transform: scale(1.2);
    filter: grayscale(60%);
}

#categories p {
    display: flex;
    height: 100%;
    width: 100%;
    color: transparent;
}

#categories p:hover {
    color: #47B4D1;
    -webkit-text-stroke: 0.8px black;
}

.up {
    margin-bottom: 250px;
}

.down {
    margin-top: 250px;
}

/*Section plats*/

#plats {
    height: 260px;
    width: 100%;
    margin-right: 10%;
}

#plats img {
    width: 25%;
    height: 240px;
    position: absolute;
}

#plats img:hover {
    transform: scale(1.2);
    z-index: 7;
}

#plat_jour1 {
    z-index: 6;
    border-radius: 20px;
    left: 6.25%;
}

#plat_jour2 {
    left: 18.75%;
    z-index: 5;
    border-radius: 20px;
}

#plat_jour3 {
    left: 31.25%;
    z-index: 4;
    border-radius: 20px;
}

#plat_jour4 {
    left: 43.75%;
    z-index: 3;
    border-radius: 20px;
}

#plat_jour5 {
    left: 56.25%;
    z-index: 2;
    border-radius: 20px;
}

#plat_jour6 {
    left: 68.75%;
    z-index: 1;
    border-radius: 20px;
}


/**Media queries**/

/*Pour la version mobile*/

@media screen and (max-width:767px) {

/*On enleve ce qui est nécessaire*/
    #champ_recherche,
    video,
    svg,
    #categories p {
        display: none;
    }

/*SEction catégories*/

    #categories {
        flex-wrap: wrap;
        margin-top: 15px;
    }

    #categories a {
        margin: 0;
        width: 25%;
        height: 300px;
    }

/*Titres des section*/

    h2 {
        position: relative;
        color: #970747;
        font-family: "Dekko";
        font-size: 50px;
        text-align: center;
    }

    #titre_cat::before,
    #titre_plat::before,
    #titre_cat::after,
    #titre_plat::after {
        content: "~";
        color: black;
    }

/*Section plats*/

    #plats img {
        position: relative;
        left: 0;
        width: 100%;
    }

    #plats {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #plat1 {
        border-radius: 20px 20px 0 0;
    }

    #plat2,
    #plat3,
    #plat4,
    #plat5 {
        border-radius: 0;
    }

    #plat6 {
        border-radius: 0 0 20px 20px;
    }
}

/*Changement taille des écritures pour les catégories*/

@media screen and (min-width:768px) and (max-width:1000px) {

    #Asiatique {
        font-size: 15px;
    }
    
    #Burger {
        font-size: 23px;
    }

    #Pâtes {
        font-size: 45px;
    }
    
    #Pizza {
        font-size: 40px;
    }
    
    #Salade {
        font-size: 30px;
    }
    
    #Sandwich {
        font-size: 25px;
    }
    
    #Veggie {
        font-size: 35px;
    }
    
    #Wrap {
        font-size: 35px;
    }

}

@media screen and (min-width:1001px) and (max-width:1150px) {

    #Asiatique {
        font-size: 20px;
    }
    
    #Burger {
        font-size: 35px;
    }

    #Pâtes {
        font-size: 70px;
    }
    
    #Pizza {
        font-size: 60px;
    }
    
    #Salade {
        font-size: 40px;
    }
    
    #Sandwich {
        font-size: 30px;
    }
    
    #Veggie {
        font-size: 50px;
    }
    
    #Wrap {
        font-size: 45px;
    }

}

@media screen and (min-width:1151px) and (max-width:1250px) {

    #Asiatique {
        font-size: 20px;
    }
    
    #Burger {
        font-size: 35px;
    }

    #Pâtes {
        font-size: 75px;
    }
    
    #Pizza {
        font-size: 65px;
    }
    
    #Salade {
        font-size: 45px;
    }
    
    #Sandwich {
        font-size: 30px;
    }
    
    #Veggie {
        font-size: 55px;
    }
    
    #Wrap {
        font-size: 50px;
    }

}

@media screen and (min-width:1251px) and (max-width:1500px) {

    #Asiatique {
        font-size: 20px;
    }
    
    #Burger {
        font-size: 35px;
    }
    
    #Pâtes {
        font-size: 85px;
    }
    
    #Pizza {
        font-size: 75px;
    }
    
    #Salade {
        font-size: 55px;
    }
    
    #Sandwich {
        font-size: 40px;
    }
    
    #Veggie {
        font-size: 65px;
    }
    
    #Wrap {
        font-size: 60px;
    }

}