/**Les différentes entête de lignes continues**/

#entete_leg {
    background-color: rgb(109, 168, 184, 80%);
    height: 120px;
    background-image: url(../images/legumes_ligne.png);
    background-blend-mode: multiply;
    background-size: 310px;
}

#entete_ass {
    background-color: rgb(109, 168, 184, 80%);
    background-image: url(../images/assiette_ligne.png);
    height: 180px;
    background-size: 310px;
    background-blend-mode: multiply;
}

#entete_tab {
    background-color: rgb(109, 168, 184, 80%);
    background-image: url(../images/table_ligne.png);
    height: 170px;
    background-size: 310px;
    background-blend-mode: multiply;
    display: flex;
}


/**Catégories de la page catégorie.php**/

.photo_cat {
    width: 75%;
    height: 200px;
}

.texte_cat {
    font-size: 65px;
    width: 25%;
}

.categorie_l {
    background-color: rgb(71, 180, 209, 60%);
    color: black;
}

.categorie_l:hover {
    transform: scale(1.1);
}

.categorie_l img {
    border-radius: 0 20px 20px 0;
}

#Asiatique img, #Pâtes img {
    object-position: 100% 70%;
}

#Asiatique p {
    font-size: 40px;
}

#Salade img, #Wrap img {
    object-position: 100% 55%;
}

#Veggie img {
    object-position: 100% 68%;
}

.categorie_r {
    background-color: rgb(0, 0, 0, 60%);
    color: #47B4D1;
}

.categorie_r:hover {
    transform: scale(1.1);
}

.categorie_r img {
    border-radius: 20px 0 0 20px;
}

#Pizza img {
    object-position: 100% 40%;
}

#Sandwich img {
    object-position: 100% 10%;
}


/**Entête des pages plats par catégorie**/

h1 {
    color: #47B4D1;
    -webkit-text-stroke: 5px black;
    font-size: 230px;
}

#entete_Burger {
    background-image: url(../images/category/burger_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Pâtes {
    background-image: url(../images/category/pasta_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Pizza {
    background-image: url(../images/category/pizza_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Salade {
    background-image: url(../images/category/salade_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Sandwich {
    background-image: url(../images/category/sandwich_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Veggie {
    background-image: url(../images/category/veggie_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

#entete_Wrap {
    background-image: url(../images/category/wrap_cat.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(5px);
    width: 100%;
    background-attachment: fixed;
}

/**Boutons suivant et précédent des pages plats.php**/

#boutons a {
    background-color: #47B4D1;
    font-family: "Julius Sans One", sans-serif;
    font-size: 50px;
    margin-top: 50px;
    width: 35%;
}

.prec_mobile,
.suiv_mobile,
#boutons svg {
    display: none;
}

/**Page contact.php**/

#entete_contact {
    display: none;
}

#contact {
    top: 165px;
    font-family: "Gwendolyn", sans-serif;
    font-size: 200px;
}

form {
    margin-top: 200px;
}

form div {
    width: 45%;
    background-color: #E2E2E2;
    height: 100px;
}

#last {
    width: 95%;
    height: 300px;
    border-radius: 25px;
}

svg {
    height: 350px;
    width: 600px;
}

#bouton {
    width: 18%;
    height: 50px;
    background-color: rgba(0, 0, 0, 34%);
}

#retour_form {
    width: 40%;
    height: 50px;
    background-color: rgba(0, 0, 0, 34%);
    font-family: 'Julius Sans One', sans-serif;
}

::placeholder {
    color: rgba(255, 0, 0, 50%);
}

.champ {
    border-radius: 50rem;
    align-items: center;
}

label {
    margin: 0 48px 0 48px;
    font-family: "Julius Sans One", sans-serif;
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    font-family: "Julius Sans One", sans-serif;
    border: 0;
    border-left: 1px solid black;
    background: transparent;
}

textarea {
    outline: none;
    width: 98%;
    height: 100%;
    resize: none;
    background: radial-gradient(rgba(0, 0, 0, 20%), rgba(0, 0, 0, 5%), rgba(0, 0, 0, 0%));
    font-family: "Julius Sans One", sans-serif;
    background: transparent;
    border: 0;
    border-top: solid 1px black;
}


/**Page commande.html**/

#commande {
    background-image: url(../images/ibg_rd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.plats_commande {
    width: 100%;
    background-color: rgb(47, 47, 47, 50%);
    height: 300px;
    box-shadow: 20px 0px 10px rgb(0, 0, 0, 20%);
    border-radius: 50rem;
    margin: 48px;
}

.plats_commande img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#champ_num {
    width: 25%;
}

#champ_rue {
    width: 65%;
}

#champ_cp {
    width: 30%;
}

#champ_ville {
    width: 60%;
}

.recap_com {
    height: 100%;
    width: 72%;
    margin-left: 50px;
}

.titre_des {
    height: 50%;
    width: 92%;
}

.titre_des .description {
    height: auto;
    font-size: 25px;
}

.qt_plat {
    width: 92%;
    font-family: "Julius Sans One", sans-serif;
    background: radial-gradient(#47B4D1, #47b3d1c9, #47b3d173);
    padding-left: 48px;
    margin-bottom: 16px;
}

input[type=number] {
    appearance: textfield;
    width: 20px;
}

#quantite {
    margin-right: 28px;
    margin-left: 28px;
    width: 50px;
}

.moins {
    margin-right: 28px;
    background: transparent;
}

.plus {
    margin-left: 28px;
    background: transparent;
}

#champ_obligatoire,
#envoi_mobile {
    display: none;
}


#recap_form h2 {
    font-family: "Modern Antiqua", sans-serif;
    font-size: 50px;
}

h3 {
    font-family: "Modern Antiqua", sans-serif;
    font-size: 45px;
}

#liste_recap_form li {
    height: auto;
    font-family: "Farsan", sans-serif;
    font-size: 40px;
    width: 100%;
}

/**Page politique**/

#pol {
    top: 200px;
    font-family: "Gwendolyn", sans-serif;
    font-size: 150px;
    -webkit-text-stroke: 3px black;
}

#svg_pol{
    width: 100%;
}

#politique{
    margin-top: 150px;
}

#entete_pol {
    display: none;
}

#politique p, ul {
    font-family: 'Farsan', sans-serif;
    font-size: 30px;
}

/**Page mentions**/

#men {
    top: 200px;
    font-family: "Gwendolyn", sans-serif;
    font-size: 150px;
    -webkit-text-stroke: 3px black;
}

#entete_mentions{
    display: none;
}

#mentions p, ul {
    font-family: 'Farsan', sans-serif;
    font-size: 30px;
}

#mentions{
    margin-top: 150px;
}

#svg_men{
    width: 1000px;
}

/**Media queries**/

@media screen and (max-width:767px) {

    #entete_ass,
    #entete_leg,
    #entete_tab {
        display: none;
    }

    .categorie_l,
    .categorie_r {
        background: transparent;
        color: #970747;
        -webkit-text-stroke: 2px black;
        align-items: center;
    }

    .categorie_l img,
    .categorie_r img {
        width: 100%;
        filter: blur(3px);
        border-radius: 0;
    }

    .categorie_l p,
    .categorie_r p {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: auto;
        right: auto;
    }

    h1 {
        font-size: 100px;
        color: #970747;
        -webkit-text-stroke: 2px black;
    }

    #entete_Burger,
    #entete_Pâtes,
    #entete_Pizza,
    #entete_Salade,
    #entete_Sandwich,
    #entete_Veggie,
    #entete_Wrap {
        height: 200px;
        background-attachment: local;
    }


    .prec_desktop,
    .suiv_desktop,
    .label_qtt, #bouton {
        display: none;
    }

    hr {
        display: block;
        color: #970747;
        margin: 0;
        border: 2px solid #970747;
        opacity: 100%;
        width: 100%;
    }

    .prec_mobile,
    .suiv_mobile {
        display: block;
        z-index: 1;
    }

    #boutons svg {
        display: block;
        height: 150px;
    }

    #commande {
        background-image: none;
    }

    .plats_commande {
        margin: 48px 0 48px 0;
        border-radius: 20px;
        width: 100%;
        background-color: #ffffff81;
    }

    .plats_commande img {
        border-radius: 20px 0 0 20px;
        width: 50%;
    }

    .titre_des {
        flex-direction: column;
    }

    .recap_com {
        width: 50%;
        margin: 0;
    }

    .qt_plat {
        background: radial-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0));
        padding: 0;
        margin: 0 0 5px 10px;
        height: 25%;
    }

    .nbr_qt {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .moins {
        margin: 0;
        background-color: #970747;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plus {
        margin: 0;
        background-color: #970747;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quantite {
        margin: 0;
    }

    .titre_des .description {
        height: 50%;
        font-size: 25px;
    }

    ::placeholder {
        color: transparent;
    }

    form div {
        background: transparent;
    }

    .champ input {
        border: 0;
        background-color: #E2E2E2;
        border-radius: 30px;
        width: 95%;
        margin-left: 2.5%;
    }

    .champ {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .champ label {
        margin: 0 0 0 5px;
        color: #970747;
    }

    .champ label::after {
        content: "*";
    }

    #champ_obligatoire {
        display: block;
        color: #970747;
        width: 100%;
        margin-left: 5px;
    }

    #envoi_mobile {
        display: flex;
        background-color: rgb(151, 7, 71);
        width: 80px;
        height: 80px;
        margin-left: 300px;
    }

    #envoi_mobile i {
        font-size: 50px;
    }

    #entete_contact, #entete_pol, #entete_mentions {
        display: flex;
        background-image: url(../images/bg1.jpeg);
        background-repeat: no-repeat;
        background-position-x: 0%;
        background-position-y: 100%;
        background-size: 300%;
        justify-content: center;
        align-items: center;
    }

    #entete_contact h1 {
        -webkit-text-stroke-color: rgb(184, 180, 180);
    }

    #demande {
        background-color: #E2E2E2;
        border: 0;
        border-radius: 30px;
    }

    form {
        margin-top: 50px
    }

    #last {
        width: 100%;
    }

    textarea {
        width: 95%;
        margin-left: 2.5%;
    }

    #Asiatique p {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    #retour_form {
        width: 95%;
        height: 80px;
        margin-bottom: 45px;
    }

    #entete_pol h1 {
        -webkit-text-stroke-color: rgb(184, 180, 180);
        font-size: 70px;
    }

    #politique{
        margin-top: 30px;
    }

    #entete_mentions h1{
        -webkit-text-stroke-color: rgb(184, 180, 180);
        font-size: 70px;
    }

    #mentions{
        margin-top: 30px;
    }
}


@media screen and (min-width:768px) and (max-width:991px) {
    form div {
        width: 95%;
    }

    #Asiatique p {
        font-size: 30px;
    }

    #Burger p, #Sandwich p {
        font-size: 45px;
    }

    #Salade p {
        font-size: 60px;
    }

    #boutons a {
        font-size: 40px;
        width: 38%;
    }

    .nbr_qt {
        width: 50%;
    }

    #quantite {
        margin-right: 0;
        margin-left: 0;
    }

    .qt_plat {
        padding-left: 8px;
        width: 85%;
    }

    .moins {
        margin-right: 5px;
    }

    .plus {
        margin-left: 5px;
    }

    .titre_des .description {
        font-size: 18px;
    }

    .recap_com {
        margin-left: 5px;
    }

    h1 {
        font-size: 190px;
    }

    #retour_form {
        width: 48%;
    }

    .texte_cat{
        font-size: 45px;
    }

    #Asiatique p{
        font-size: 30px;
    }

    #pol{
        font-size: 78px;
        top: 255px;
        -webkit-text-stroke: 1px black;
    }

    #men{
        font-size: 130px;
        -webkit-text-stroke: 2px black;
        top: 220px;
    }
}


@media screen and (min-width:992px) and (max-width:1399px) {
    #quantite {
        margin-right: 15px;
        margin-left: 15px;
    }

    #pol{
        font-size: 103px;
        top: 235px;
        -webkit-text-stroke: 2px black;
    }
}